.content-crew {
    background: url(../assets/img/crew/background-crew-desktop.jpg);
    width: 100vw;
    height: 100vh;
    position: relative;

    &__infocrew {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50% , -50%);
        display: flex;
        justify-content: space-around;

        &__title {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            #number__title {
                padding-top: 10px;
                padding-bottom: 80px;

                #number {
                    margin-left: 0px;
                    margin-right: 20px;
                    color: $button-color;
                    font-size: 23px;
                }

                #number_td {
                    color: $text-color;
                    font-size: 23px;
                }
            }

            #title_h {
                #title_h1 {
                    color: $button-color-hover;
                    font-weight: 5;
                    font-size: 32px;
                    border: 1px solid none;

                    &:hover {
                        transition: all 1s ease-in-out;
                        transform: scale(1.25, 1.25);
                        -moz-transform: scale(1.25, 1.25);
                        -webkit-transform: scale(1.25, 1.25);
                        -o-transform: scale(1.25, 1.25);
                        -ms-transform: scale(1.25, 1.25);
                        color: $text-color;
                        color: $text-color;
                        padding-left: 40px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                    }
                }

                #title_h2 {
                    color: $button-color;
                    font-weight: 900;
                    font-size: 45px;
                    border: 1px solid none;

                    &:hover {
                        transition: all 1s ease-in-out;
                        transform: scale(1.25, 1.25);
                        -moz-transform: scale(1.25, 1.25);
                        -webkit-transform: scale(1.25, 1.25);
                        -o-transform: scale(1.25, 1.25);
                        -ms-transform: scale(1.25, 1.25);
                        color: $text-color;
                        color: $text-color;
                        // padding-left: 40px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                    }
                }

                #title_p {
                    color: $button-color;
                    border: 1px solid none;

                    &:hover {
                        transition: all 1s ease-in-out;
                        transform: scale(1.25, 1.25);
                        -moz-transform: scale(1.25, 1.25);
                        -webkit-transform: scale(1.25, 1.25);
                        -o-transform: scale(1.25, 1.25);
                        -ms-transform: scale(1.25, 1.25);
                        color: $text-color;
                        padding-left: 40px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                    }

                }

                #title_list {
                    display: flex;
                    flex-direction: row;

                    #title_listt1 {
                        border: 1px solid $button-color;
                        background-color: $button-color;
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        margin-left: 25px;

                        &:hover {
                            transition: all 0.5s ease-in-out;
                            background-color: $text-color;
                            border-radius: 50%;
                            color: $button-color;

                            #title_listt1 {
                                color: $button-color;
                            }
                        }
                    }
                }
            }
        }

        &__crew {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: flex-end;

            img {
                width: 450px;
                height: 480px;
                border: 1px solid none;

                &:hover {
                    transition: all 1s ease-in-out;
                    transform: scale(1.03, 1.03);
                    -moz-transform: scale(1.03, 1.03);
                    -webkit-transform: scale(1.03, 1.03);
                    -o-transform: scale(1.03, 1.03);
                    -ms-transform: scale(1.03, 1.03);
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }
    }
}
// mobile
@media screen and (max-width: 740px) {
    .content-crew {
        background: url(../assets/img/crew/background-crew-mobile.jpg);
        width: 100vw;
        height: 100vh;

        &__infocrew {
            padding-top: 130px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__title {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                #number__title {
                    padding-top: 0px;
                    padding-bottom: 30px;

                    #number {
                        margin-left: 16px;
                        margin-right: 5px;
                        color: $button-color;
                        font-size: 16px;
                    }

                    #number_td {
                        color: $text-color;
                        font-size: 16px;
                    }
                }

                #title_h {
                    #title_h1 {
                        color: $button-color-hover;
                        font-weight: 5;
                        font-size: 22px;
                        padding-left: 16px;
                        border: 1px solid none;

                        &:hover {
                            transition: all 1s ease-in-out;
                            transform: scale(1.25, 1.25);
                            -moz-transform: scale(1.25, 1.25);
                            -webkit-transform: scale(1.25, 1.25);
                            -o-transform: scale(1.25, 1.25);
                            -ms-transform: scale(1.25, 1.25);
                            color: $text-color;
                            color: $text-color;
                            padding-left: 40px;
                            // margin-bottom: 40px;
                            // margin-top: 40px;
                        }
                    }

                    #title_h2 {
                        color: $button-color;
                        font-weight: 900;
                        font-size: 29px;
                        padding-left: 16px;
                        border: 1px solid none;

                        &:hover {
                            transition: all 1s ease-in-out;
                            transform: scale(1.1, 1.1);
                            -moz-transform: scale(1.1, 1.1);
                            -webkit-transform: scale(1.1, 1.1);
                            -o-transform: scale(1.1, 1.1);
                            -ms-transform: scale(1.1, 1.1);
                            color: $text-color;
                            color: $text-color;
                            padding-left: 40px;
                            // margin-bottom: 40px;
                            // margin-top: 40px;
                        }
                    }

                    #title_p {
                        color: $button-color;
                        font-size: 13px;
                        border: 1px solid none;

                        &:hover {
                            transition: all 1s ease-in-out;
                            transform: scale(1.001, 1.001);
                            -moz-transform: scale(1.001, 1.001);
                            -webkit-transform: scale(1.001, 1.001);
                            -o-transform: scale(1.001, 1.001);
                            -ms-transform: scale(1.001, 1.001);
                            color: $text-color;
                            padding-left: 40px;
                            margin-bottom: 40px;
                            margin-top: 40px;
                        }

                    }

                    #title_list {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;

                        #title_listt1 {
                            border: 1px solid $button-color;
                            background-color: $button-color;
                            width: 13px;
                            height: 13px;
                            border-radius: 50%;
                            margin-left: 25px;

                            &:hover {
                                transition: all 0.5s ease-in-out;
                                background-color: $text-color;
                                border-radius: 50%;
                                color: $button-color;

                                #title_listt1 {
                                    color: $button-color;
                                }
                            }
                        }
                    }
                }
            }

            &__crew {
                padding-top: 20px;
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-end;
                justify-content: flex-end;

                img {
                    width: 250px;
                    height: 240px;
                    border: 1px solid none;

                    &:hover {
                        transition: all 1s ease-in-out;
                        transform: scale(1.03, 1.03);
                        -moz-transform: scale(1.03, 1.03);
                        -webkit-transform: scale(1.03, 1.03);
                        -o-transform: scale(1.03, 1.03);
                        -ms-transform: scale(1.03, 1.03);
                        padding-top: 0;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
