.content {
    position: fixed;
    top: 200px;
    left: 100px;
    right: 100px;

    &__infocrew {
        display: flex;
        justify-content: space-around;

        &__title {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            #number__title {
                padding-top: 10px;
                padding-bottom: 80px;

                #number {
                    margin-left: 0px;
                    margin-right: 20px;
                    color: $button-color;
                    font-size: 23px;
                }

                #number_td {
                    color: $text-color;
                    font-size: 23px;
                }
            }

            #title_h {
                #title_h1 {
                    color: $button-color-hover;
                    font-weight: 5;
                    font-size: 32px;
                    border: 1px solid none;

                    &:hover {
                        transition: all 0.1 ease-in-out;
                        transform: scale(1.25, 1.25);
                        -moz-transform: scale(1.25, 1.25);
                        -webkit-transform: scale(1.25, 1.25);
                        -o-transform: scale(1.25, 1.25);
                        -ms-transform: scale(1.25, 1.25);
                        color: $text-color;
                        color: $text-color;
                        padding-left: 40px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                    }
                }

                #title_h2 {
                    color: $button-color;
                    font-weight: 900;
                    font-size: 45px;
                    border: 1px solid none;

                    &:hover {
                        transition: all 0.1 ease-in-out;
                        transform: scale(1.25, 1.25);
                        -moz-transform: scale(1.25, 1.25);
                        -webkit-transform: scale(1.25, 1.25);
                        -o-transform: scale(1.25, 1.25);
                        -ms-transform: scale(1.25, 1.25);
                        color: $text-color;
                        color: $text-color;
                        // padding-left: 40px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                    }
                }

                #title_p {
                    color: $button-color;
                    border: 1px solid none;

                    &:hover {
                        transition: all 0.1 ease-in-out;
                        transform: scale(1.25, 1.25);
                        -moz-transform: scale(1.25, 1.25);
                        -webkit-transform: scale(1.25, 1.25);
                        -o-transform: scale(1.25, 1.25);
                        -ms-transform: scale(1.25, 1.25);
                        color: $text-color;
                        padding-left: 40px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                    }

                }

                #title_list {
                    display: flex;
                    flex-direction: row;

                    #title_listt1 {
                        border: 1px solid $button-color;
                        background-color: $button-color;
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        margin-left: 25px;

                        &:hover {
                            transition: all 0.1 ease-in-out;
                            background-color: $text-color;
                            border-radius: 50%;
                            color: $button-color;

                            #title_listt1 {
                                color: $button-color;
                            }
                        }
                    }
                }
            }
        }

        &__crew {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: flex-end;

            img {
                border: 1px solid none;

                &:hover {
                    transition: all 0.1 ease-in-out;
                    transform: scale(1.2, 1.2);
                    -moz-transform: scale(1.2, 1.2);
                    -webkit-transform: scale(1.2, 1.2);
                    -o-transform: scale(1.2, 1.2);
                    -ms-transform: scale(1.2, 1.2);
                }
            }
        }
    }
}