.content{
    position: fixed;
    top: 200px;
    left: 100px;
    right: 100px;
    &__contaier{
        display: flex;
        justify-content: space-around;
        &__pic{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span{
                margin: 100 0 100 0;
                color: $text-color;
            }
            img{
                width: 300px;
                height: 300px;
                &:hover {
                transition: all 0.1 ease-in-out;
                transform: scale(1.25,1.25);
                -moz-transform: scale(1.25,1.25);
                -webkit-transform: scale(1.25,1.25);
                -o-transform: scale(1.25,1.25);
                -ms-transform: scale(1.25,1.25);
                }
            }
        }
        &__title{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 0;
            &__list{
                &__list1{
                    list-style: none;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    padding-right: 30px;
                    gap: 45px;
                    position: relative;
                    font-weight: 300;
                    color: $text-color;
                    &__planet{
                        width: 70px;
                        height: 40px;
                       text-decoration: none;
                       border: 0.5px solid $text-color;
                       border-radius: 50%;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       color: $text-color;
                       &:hover {
                        transition: all 0.1 ease-in-out;
                        background-color: $text-color;
                        border-radius: 50%;
                        color: $button-color;

                        #title_listt1 {
                            color: $button-color;
                        }
                        &:hover {
                            transition: all 0.1 ease-in-out;
                            transform: scale(1.25,1.25);
                            -moz-transform: scale(1.25,1.25);
                            -webkit-transform: scale(1.25,1.25);
                            -o-transform: scale(1.25,1.25);
                            -ms-transform: scale(1.25,1.25);
                            }
                    }
                    }
                }
            }
            .info{
                &__timeNkm{
                    display: flex;
                    justify-content:space-around;
                    border: 1px solid none;
                    &:hover {
                        transition: all 0.1 ease-in-out;
                        transform: scale(1.4,1.4);
                        -moz-transform: scale(1.4,1.4);
                        -webkit-transform: scale(1.4,1.4);
                        -o-transform: scale(1.4,1.4);
                        -ms-transform: scale(1.4,1.4);
                        }
                }
            }
        }
    }
}