.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    &__logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 30px 0 70px;

        .logo {
            color: $text-color;
            width: 50px;
            height: 50px;
            padding: 15px 15px;
        }

        .name {
            color: $text-color;

            a {
                text-decoration: none;
                font-size: 40px;
                font-weight: 900px;
            }
        }
    }

    ul {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 130px 0 30px;
        gap: 25px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-color: rgb(68, 66, 66);
            opacity: 0.5;
            inset: 0;
            border-radius: 15px;
            background-color: rgb(106, 102, 106);
            background-image: linear-gradient(to right, rgb(64, 72, 119), rgb(22, 5, 5));
        }

        li {
            z-index: 1;
            padding-left: 20px;

            #numberheder {
                color: $button-color;
            }

            a {
                text-decoration: none;

                span {
                    color: $text-color;
                    font-size: 20px;
                    padding: 0 5px 0 5px;
                }

                & span:first-child {
                    font-weight: bolder;
                }

                & span:last-child {
                    font-weight: lighter;
                }
            }
        }
    }

    #navbutton {
        &:hover {
            transition: all 0.1 ease-in-out;
            transform: scale(1.1, 1.1);
            -moz-transform: scale(1.1, 1.1);
            -webkit-transform: scale(1.1, 1.1);
            -o-transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            color: $text-color;
        }
    }

    &__mobile {
        display: none;
    }

    // Media
    @media (max-width: $mobile-width) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 10px;
        padding-block: 0px;

        &__logo {
            padding: 0px;
        }

        ul {
            display: none;
        }

        &__mobile {
            display: block;
            border: 1px solid $text-color;
            display: flex;
            align-items: center;
            justify-self: center;
            padding: 5px;

            ion-icon {
                font-size: 32px;
                color: $text-color;
            }
        }
    }
}

.bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

// #navbutton {
//     &:hover {
//         transition: all 0.1 ease-in-out;
//         transform: scale(1.1, 1.1);
//         -moz-transform: scale(1.1, 1.1);
//         -webkit-transform: scale(1.1, 1.1);
//         -o-transform: scale(1.1, 1.1);
//         -ms-transform: scale(1.1, 1.1);
//         color: $text-color;
//     }
// }

.title {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    flex-direction: column;
    align-items: center;

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;

        gap: 100px;

        &-text {
            // width: 800px;
            // height: 500px;

            h4 {
                font-weight: bold;
                color: $text-color;
                font-size: 34px;
                margin: 10 0 0 0;
            }

            h1 {
                font-weight: bold;
                color: $text-color;
                font-size: 160px;
                margin: 0 0 0 0;

                &:hover {
                    transition: all 1s ease-in-out;
                    transform: scale(1.2, 1.2);
                    -moz-transform: scale(1.2, 1.2);
                    -webkit-transform: scale(1.2, 1.2);
                    -o-transform: scale(1.2, 1.2);
                    -ms-transform: scale(1.2, 1.2);
                    padding-left: 30px;
                    padding-bottom: 15px;
                }
            }

            p {
                font-weight: bold;
                color: $text-color;
                font-size: 20px;
            }
        }

        &-button {
            button {
                width: 350px;
                height: 350px;
                border-radius: 50%;
                border: none;
                background-color: rgb(65, 41, 41);
                background-image: linear-gradient(to right, rgb(89, 92, 98), rgb(35, 44, 74));

                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-size: 50px;
                }

                &:hover {
                    transition: all 0.1s ease-in-out;
                    transform: scale(1.2, 1.2);
                    -moz-transform: scale(1.2, 1.2);
                    -webkit-transform: scale(1.2, 1.2);
                    -o-transform: scale(1.2, 1.2);
                    -ms-transform: scale(1.2, 1.2);
                    background-color: rgb(106, 102, 106);
                    background-image: linear-gradient(to right, rgb(64, 72, 119), rgb(22, 5, 5));

                    a {
                        color: $text-color;
                        font-style: oblique;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    &__button_section {
        border: 0.5px solid none;

        ion-icon {
            color: $text-color;
        }
    }

    @media (max-width: $mobile-width) {
        &__content {
            gap: 10px;
            min-width: 310px;
            flex-direction: column;
            width: 100%;

            &-text {
                h4 {
                    font-size: 24px;
                    text-align: center;
                }

                h1 {
                    font-size: 52px;
                    text-align: center;
                }

                p {
                    font-size: 12px;
                    text-align: center;
                }
            }

            &-button {
                button {
                    width: 150px;
                    height: 150px;

                    a {
                        font-size: 22px;
                    }
                }
            }
        }

        &__button_section {
            padding-block: 10px;

            a {
                ion-icon {
                    font-size: 32px;
                }
            }
        }
    }
}

.header__sidebar {
    position: absolute;
    // inset: 0;
    left: -100%;
    // top: -100%;
    transition: all 0.3s linear;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 12;
    &-logo {
        $size: 106px;
        display: flex;
        justify-content: space-between;

        ion-icon {
            font-size: $size;
            color: white !important;
            padding-right: 10px;
        }

        &-name {
            a {
                text-decoration: none;
                color: $text-color;
                font-size: 40px;
                font-weight: bold;
            }
        }

        &-closed {
            // border: 1px solid $main-color;
            display: flex;
            align-items: center;
            justify-self: center;
            padding: 5px 10px;

            ion-icon {
                font-size: 32px;
                color: $text-color;
            }
        }
    }

    ul {
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 30px;
        list-style: none;

        li {
            a {

                text-decoration: none;
                color: $text-color;

                & span:first-of-type {
                    font-weight: bold;
                    color: $button-color;
                }
            }
        }
    }
}

.header__overlay{
    position: absolute;
    // inset: 0;
    background: #191c27;
    opacity: 1;
    filter: blur(1rem);
    z-index: 11;
    left: -100%;
    transition: all 0.3s linear;
    
}

.handle__mobile-open {
    inset: 0;
}
// .handle__mobile-overlay--open{
//     inset: 0;
// }