#navbutton{
    &:hover {
        transition: all 0.1 ease-in-out;
        transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -webkit-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        color: $text-color;
    }
}
.title {
    position: fixed;
    top: 200px;
    left: 0px;
    right: 100px;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;

        &-text {
            width: 800px;
            height: 500px;

            h4 {
                font-weight: bold;
                color: $text-color;
                font-size: 34px;
                margin: 10 0 0 0;
            }

            h1 {
                font-weight: bold;
                color: $text-color;
                font-size: 160px;
                margin: 0 0 0 0;
                &:hover {
                    transition: all 0.1 ease-in-out;
                    transform: scale(1.2,1.2);
                    -moz-transform: scale(1.2,1.2);
                    -webkit-transform: scale(1.2,1.2);
                    -o-transform: scale(1.2,1.2);
                    -ms-transform: scale(1.2,1.2);
                    padding-left: 30px;
                    padding-bottom: 15px;
                    }
            }

            p {
                font-weight: bold;
                color: $text-color;
                font-size: 20px;
            }
        }

        &-button {
            button {
                width: 350px;
                height: 350px;
                border-radius: 50%;
                border: none;
                &:hover {
                    transition: all 0.1 ease-in-out;
                    transform: scale(1.2,1.2);
                    -moz-transform: scale(1.2,1.2);
                    -webkit-transform: scale(1.2,1.2);
                    -o-transform: scale(1.2,1.2);
                    -ms-transform: scale(1.2,1.2);
                }

                &:hover {
                    transition: all 0.1 ease-in-out;
                    background-color: $button-color-hover;
                    border-radius: 50%;

                    a {
                        color: $text-color;
                    }
                }

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 50px;
                }
            }

            &:hover {
                transition: all 0.1 ease-in-out;
                background-color: $button-color-hover;
                border-radius: 50%;
                color: $button-color;

                a {
                    color: #000;
                }
            }
        }
    }
}