@keyframes transformColor {
    0%{
        background-image: linear-gradient(to right, rgb(88, 46, 46), rgb(104, 103, 103), rgb(22, 17, 23));
    }
    50%{
        background-image: linear-gradient(to right, rgb(22, 17, 23), rgb(104, 103, 103), rgb(88, 46, 46));
    }
    100%{
        background-image: linear-gradient(to right, rgb(22, 17, 23), rgb(88, 46, 46), rgb(104, 103, 103));
    }
}
.content_welcome {
    position: fixed;
    top: 200px;
    left: 100px;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &__title_welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h1 {
            font-size: 70px;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            color: rgb(49, 48, 48);

            &:hover {
                transition: all 1s ease-in-out;
                transform: scale(1.2, 1.2);
                -moz-transform: scale(1.2, 1.2);
                -webkit-transform: scale(1.2, 1.2);
                -o-transform: scale(1.2, 1.2);
                -ms-transform: scale(1.2, 1.2);
                padding-left: 30px;
                padding-bottom: 15px;
                color: $text-color;
            }
        }

        &__title2 {
            display: flex;
            position: relative;
            width: 100%;

            &::before {
                content: " ";
                z-index: 1;
                display: flex;
                position: absolute;
                background-color: rgb(68, 66, 66);
                opacity: 0.5;
                inset: 0;
                border-radius: 15px;
                background-color: rgb(106, 102, 106);
                background-image: linear-gradient(to right, rgb(64, 72, 119), rgb(22, 5, 5));
                display: none;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
                font-size: 120px;
                text-align: center;
                margin-top: 0px;
                margin-bottom: 0px;
                color: rgb(49, 48, 48);
                width: 100%;
                // padding-left: 20px;
                // padding-right: 20px;
                text-decoration: none;

                &:hover {
                    transition: all 1s ease-in-out;
                    transform: scale(1.2, 1.2);
                    -moz-transform: scale(1.2, 1.2);
                    -webkit-transform: scale(1.2, 1.2);
                    -o-transform: scale(1.2, 1.2);
                    -ms-transform: scale(1.2, 1.2);
                    padding-left: 30px;
                    padding-bottom: 15px;
                    color: $text-color;
                    background-color: transparent;
                }
            }

            &:hover::before {
                display: flex;
            }
        }

        p {
            font-size: 23px;
            text-align: center;
            margin-top: 12px;
            margin-bottom: 20px;
            color: rgb(49, 48, 48);

            &:hover {
                transition: all 1s ease-in-out;
                transform: scale(1.2, 1.2);
                -moz-transform: scale(1.2, 1.2);
                -webkit-transform: scale(1.2, 1.2);
                -o-transform: scale(1.2, 1.2);
                -ms-transform: scale(1.2, 1.2);
                padding-left: 30px;
                padding-bottom: 15px;
                color: $text-color;
            }
        }
    }

    &__button_welcome {
        transition: all 0.5s ease-in-out;

        a {
            gap: 10px;
            padding: 5px;
            display: flex;
            justify-content: center;
            text-decoration: none;

            span {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 25px;
            }

            ion-icon {
                padding-left: 2px;
                font-size: 25px;
                color: #000;
            }
        }

        &:hover {
            border: 5px solid none;
            border-radius: 25px;
            transition: all 0.1 ease-in-out;
            transform: scale(1.8, 1.8);
            -moz-transform: scale(1.8, 1.8);
            -webkit-transform: scale(1.8, 1.8);
            -o-transform: scale(1.8, 1.8);
            -ms-transform: scale(1.8, 1.8);
            background-color: rgb(106, 102, 106);
            // background-image: linear-gradient(to right, rgb(88, 46, 46), rgb(104, 103, 103), rgb(22, 17, 23));
            animation: transformColor 3s ease-in-out infinite;
                
            a {
                gap: 10px;
                padding: 5px;
                display: flex;
                justify-content: center;
                text-decoration: none;
                span {
                    text-decoration: none;
                    color:$text-color;
                    font-size: 25px;
                }
    
                ion-icon {
                    padding-left: 2px;
                    font-size: 25px;
                    color: $text-color;
                }
            }
        }
    }
}
